body {
    font-family: 'Brush Script MT', cursive;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
  }
  
  .login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 5px;
  }
  
  input {
    font-family:'Brush Script MT', cursive;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
  }
  
  button {
    font-family:'Brush Script MT', cursive;
    padding: 10px;
    width: 45%;
    font-size: 16px;
    cursor: pointer;
  }
  
  button[type="submit"] {
    background-color: #4c60af;
    color: #fff;
    border: none;
  }
  
  button[type="reset"] {
    background-color: #f44336;
    color: #fff;
    border: none;
  }
  